#foto {
    max-width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
}

.row {
    height: auto;
}

    .row div {
        border: none;
    }

.seccion-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

    .seccion-bienvenida h1 {
        margin-bottom: 1rem;
    }

    .seccion-bienvenida p {
        font-family: sans-serif;
        line-height: 1.5;
        font-size: 1.25rem;
    }

#imagen-dotnet {
    width: 250px;
}

.cabecera {
    font-weight: bold;
}

.habilidades ul {
    list-style: none;
    padding-left: 0;
}

.habilidades i {
    color: #0c3e87;
    font-size: 50px;
}
/*
body {
  margin:0;
  padding:0;
  background:#ccc;
  font-family: 'Roboto Condensed', sans-serif;

}*/

.ul-footer {
    position: absolute;
    margin-top: 100px;
    margin-bottom: 100px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
}

    .ul-footer .li-footer {
        list-style: none;
        margin: 0 5px;
    }

        .ul-footer .li-footer .a-footer .fa-footer {
            font-size: 40px;
            color: #262626;
            line-height: 80px;
            transition: .5s;
            padding-right: 14px;
        }

        .ul-footer .li-footer .a-footer .span-footer {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 30px;
            color: #262626;
            letter-spacing: 4px;
            transition: .5s;
        }

        .ul-footer .li-footer .a-footer {
            text-decoration: none;
            display: absolute;
            display: block;
            width: 210px;
            height: 80px;
            background: #fff;
            text-align: left;
            padding-left: 20px;
            transform: rotate(-30deg) skew(25deg) translate(0,0);
            transition: .5s;
            box-shadow: -20px 20px 10px rgba(0,0,0,.5);
        }

            .ul-footer .li-footer .a-footer:before {
                content: '';
                position: absolute;
                top: 10px;
                left: -20px;
                height: 100%;
                width: 20px;
                background: #b1b1b1;
                transform: .5s;
                transform: rotate(0deg) skewY(-45deg);
            }

            .ul-footer .li-footer .a-footer:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: -10px;
                height: 20px;
                width: 100%;
                background: #b1b1b1;
                transform: .5s;
                transform: rotate(0deg) skewX(-45deg);
            }

            .ul-footer .li-footer .a-footer:hover {
                transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
                box-shadow: -50px 50px 50px rgba(0,0,0,.5);
            }

        .ul-footer .li-footer:hover .fa-footer {
            color: #fff;
        }

        .ul-footer .li-footer:hover .span-footer {
            color: #fff;
        }

        .ul-footer .li-footer:hover:nth-child(1) .a-footer {
            background: #3b5998;
        }

            .ul-footer .li-footer:hover:nth-child(1) .a-footer:before {
                background: #365492;
            }

            .ul-footer .li-footer:hover:nth-child(1) .a-footer:after {
                background: #4a69ad;
            }

        .ul-footer .li-footer:hover:nth-child(2) .a-footer {
            background: #00aced;
        }

            .ul-footer .li-footer:hover:nth-child(2) .a-footer:before {
                background: #097aa5;
            }

            .ul-footer .li-footer:hover:nth-child(2) .a-footer:after {
                background: #53b9e0;
            }

        .ul-footer .li-footer:hover:nth-child(3) .a-footer {
            background: #dd4b39;
        }

            .ul-footer .li-footer:hover:nth-child(3) .a-footer:before {
                background: #b33a2b;
            }

            .ul-footer .li-footer:hover:nth-child(3) .a-footer:after {
                background: #e66a5a;
            }

        .ul-footer .li-footer:hover:nth-child(4) .a-footer {
            background: #e4405f;
        }

            .ul-footer .li-footer:hover:nth-child(4) .a-footer:before {
                background: #d81c3f;
            }

            .ul-footer .li-footer:hover:nth-child(4) .a-footer:after {
                background: #e46880;
            }
