<div class="text-center">

    <h1 class="display-4">Soy Jose Carlos Araujo Murillo</h1>

    <h2>Soy un dearrollador full stack especializad en tecnologías .NET y en proceso de especializarme en NodeJS</h2>

    <img id="foto" src="~/images/foto.png" alt="Foto de Jose Araujo" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary" style="border: none;">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Ingeniero en Informática especializado en desarrollo backend con C# ASP.NET (.NET Framework, .NET Core y MVC), orientado al mantenimiento, optimización y evolución de aplicaciones críticas, principalmente para entornos bancarios. Experto en la creación de APIs REST, desarrollo de servicios por lotes y manejo de procedimientos almacenados en SQL Server, MySql y PostgreSQL, asegurando rendimiento y estabilidad en producción. Experiencia en Entity Framework y Dapper para acceso a datos, así como en la integración de soluciones con plataformas como Genesys Cloud. Participación activa en procesos de DevOps con Azure. Perfil adaptable, orientado a calidad, escalabilidad y mantenimiento de sistemas empresariales.
        </p>
    </div>
</div>
