@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Soy @ViewBag.Nombre</h1> NO ES TIPEADO FUERTEMENTE*@   
    <h1 class="display-4">Soy @Model</h1>
    <h2>Soy un dearrollador full stack especializad en tecnologías .NET y JS</h2>

    <img src="~/images/foto.png" alt="Foto de Jose Araujo" class="img-fluid rounded-circle my-4" id="foto" />

</div>